version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:8000"
    restart: always
    environment:
      MODEL_PATH: "/app/artifacts/credit_risk_pipeline.joblib"
      DOCKER: "1"
    volumes:
      - ./mlruns:/app/mlruns
      - ./mlflow.db:/app/mlflow.db
      - ./artifacts:/app/artifacts

  trainer:
    build:
      context: .
      dockerfile: docker/train.Dockerfile
    restart: on-failure
    volumes:
      - ./data:/app/data
      - ./artifacts:/app/artifacts
