version: "3.9"

services:

  api:
    build:
      context: ..
      dockerfile: docker/api.Dockerfile
    container_name: credimax_api
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./mlruns:/app/mlruns
      - ./mlflow.db:/app/mlflow.db
      - ./artifacts:/app/artifacts


  trainer:
    build:
      context: ..
      dockerfile: docker/train.Dockerfile
    container_name: credimax_trainer
    restart: on-demand
    volumes:
      - ../data:/app/data            # allow updating raw dataset
      - ../artifacts:/app/artifacts  # trainer writes new pipeline here
