name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy App on EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------------------------------------------
      # Upload project to EC2
      # ---------------------------------------------
      - name: Copy project files to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22

          source: |
            credit_risk_mlops
            configs
            docker
            scripts
            data
            artifacts
            docker-compose.yml
            poetry.lock
            pyproject.toml

          target: "/home/ubuntu/CrediMax"
          overwrite: true

      # ---------------------------------------------
      # Restart application on EC2
      # ---------------------------------------------
      - name: Restart application via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd ${{ secrets.EC2_PROJECT_PATH }}

            echo "Stopping old containers..."
            sudo docker compose down || true

            echo "Rebuilding containers..."
            sudo docker compose build

            echo "Starting containers..."
            sudo docker compose up -d

            echo "Showing running services..."
            sudo docker ps -a

            echo "Deployment finished successfully!"
